# *10 mistakes you should NEVER make in Python*

## *1- Do not define variables on a single line*

In [1]:
a = 12
b = 56
c = 128

print(a,b,c)

12 56 128

In [2]:
a,b,c = 12,56,128

print(a,b,c)

12 56 128

## 2- Use * to import modules.

In [3]:
from numpy import *
numbers = arange(1,10,step = 10)
print(mean(numbers))

1.0

In [4]:
import numpy as np
numbers = np.arange(1,10,step = 10)
print(np.mean(numbers))

1.0

In [5]:
from numpy import arange,mean
numbers = arange(1,10,step = 10)
print(mean(numbers))

1.0

## 3-*Use "+" to concatenate*

In [6]:
name,year = "Amado",22
print("My name is " + name + " and I am " + str(year) + " years old")

My name is Amado and I am 22 years old

In [7]:
name,year = "Amado",22
print(f"My name is {name} and Im {year} years old")

My name is Amado and Im 22 years old

## 4- Don't use lambda function.

In [8]:
def function(x):
  return x**2
  
print(function(12))

144

In [9]:
function = lambda x: x**2

print(function(12))

144

## *5- Using If Else from multiple lines of code.*

In [10]:
age = 22

if age>=18:
  print('You are of age')

else:
    
  print('You are not  of age')

You are of age

In [11]:
age = 22
"You are of age" if age>=18 else "You are not of age"

'You are of age'

## *6- Using multiple conditional If statements.*

In [12]:
kepler_third_law = lambda ua: (np.round(np.sqrt(ua**3),1))

In [13]:
def calculate_years(planet):
    planet = planet.lower()
    if planet == "mercury":
        ua = 0.387
        print(f'Number of planet years Mercury: {kepler_third_law(ua)}')
        
    if planet == "venus":
        ua = 0.723
        print(f'Number of planet years Venus: {kepler_third_law(ua)}')
        
    if planet == "earth":
        ua = 1
        print(f'Number of planet years Earth: {kepler_third_law(ua)}')
        
    if planet == "mars":
        ua = 1.524
        print(f'Number of planet years Mars: {kepler_third_law(ua)}')
        
    if planet == "earth":
        ua = 1
        print(f'Number of planet years Earth: {kepler_third_law(ua)}')
        
    if planet == "jupiter":
        ua = 5.208
        print(f'Number of planet years Jupiter: {kepler_third_law(ua)}')
        
    if planet == "saturn":
        ua = 9.539
        print(f'Number of planet years Saturn: {kepler_third_law(ua)}')
        
    if planet == "uranus":
        ua = 19.182
        print(f'Number of planet years Uranus: {kepler_third_law(ua)}')
        
    if planet == "neptune":
        ua = 30.058
        print(f'Number of planet years Neptune: {kepler_third_law(ua)}')
        
    if planet == "pluto":
        ua = 39.439
        print(f'Number of planet years Pluto: {kepler_third_law(ua)}')

In [14]:
calculate_years('saturn')

Number of planet years Saturn: 29.5

In [15]:
import numpy as np

kepler_third_law = lambda ua: (np.round(np.sqrt(ua**3),1))

def calculate_years(planet):
    
    planet = planet.lower()
    
    ua_dict = {'saturn':9.539,
               'earth':1,
               'mercury':0.387,
               'venus':0.723,
              'jupiter':5.203,
              'uranus':19.182,
              'pluto':39.439,
              'mars':1.524}

    years = kepler_third_law(ua_dict[planet])
        
    return f'Number of planet years {planet}: {years}'

In [16]:
calculate_years('saturn')

'Number of planet years saturn: 29.5'

## *7- Don't use list comprehension.*

In [17]:
import numpy as np

numbers = np.arange(1,20+1,step = 1)

par_numbers = []

for number in numbers:

    if number %2==0:

        par_numbers.append(number)

In [18]:
import numpy as np

numbers = np.arange(1,20+1,step = 1)

[n for n in numbers if n % 2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## *8- Don't use enumerate.*

In [19]:
names = ['Amado','John','Artemio']
last_name = ['Vazquez','Jobs','Lara']

for i in range(len(names)):
    print(f'{names[i]} {last_name[i]}')

Amado Vazquez
John Jobs
Artemio Lara

In [20]:
names = ['Amado','John','Artemio']
last_name = ['Vazquez','Jobs','Lara']

for i,name in enumerate(names):
    print(f'{name} {last_name[i]}')

Amado Vazquez
John Jobs
Artemio Lara

## *9- Do not use zip.*

In [21]:
manufacturer = ['Infiniti','Mazda','Nissan','BMW']
model = ['Q50','Mazda 6','Altima','3 Series']
engine = [3.0,2.5,2.0,2.0]

for i in range(len(manufacturer)):
    print(f'{manufacturer[i]} {model[i]} {engine[i]}')

Infiniti Q50 3.0
Mazda Mazda 6 2.5
Nissan Altima 2.0
BMW 3 Series 2.0

In [22]:
manufacturers = ['Infiniti','Mazda','Nissan','BMW']
models = ['Q50','Mazda 6','Altima','3 Series']
engines = [3.0,2.5,2.0,2.0]

for (manufacturer,model,engine) in zip(manufacturers,models,engines):
    print(f'{manufacturer} {model} {engine}')

Infiniti Q50 3.0
Mazda Mazda 6 2.5
Nissan Altima 2.0
BMW 3 Series 2.0

## *10- Keys()/Items()*

In [23]:
consoles_dict = {'PS5':499,
                 'PS5 Digital':399,
                 'Xbox Series S':299,
                 'Xbox Series X':499}

consoles_dict.keys() #'PS5','PS5 Digital','Xbox Series S','Xbox Series X'
consoles_dict.values() # 499,399,299,499
consoles_dict.items()

dict_items([('PS5', 499), ('PS5 Digital', 399), ('Xbox Series S', 299), ('Xbox Series X', 499)])

In [29]:
for key in consoles_dict:
  print(key)

PS5
PS5 Digital
Xbox Series S
Xbox Series X

In [25]:
for key in consoles_dict:
  print(consoles_dict[key])

499
399
299
499

In [26]:
for key,value in consoles_dict.items():
  print(key,value)

PS5 499
PS5 Digital 399
Xbox Series S 299
Xbox Series X 499

## *11-Do not rely on modules.*

In [30]:
sum_ = 0

for number in range(1,10+1):
  sum_ += number
  
print(sum_/10)

5.5

In [31]:
import numpy as np

numbers = np.arange(1,10+1,1)

print(np.mean(numbers))

5.5

## *12- Do not use the IN*

In [38]:

car_model = "Maxima"
if car_model == "Altima" or car_model == "Maxima" or car_model == "Q50" or car_model == "Q60":
    print('mMdel available')

mMdel available

In [43]:
car_models = ['Altima','Maxima','Q50','Q60']
car_model = "Maxima"
'Model avaliable' if car_model in car_models else 'Model not avaliable'

'Model avaliable'