#### **Import Libraies**

In [26]:
import pandas as pd # data manipulation
import numpy as np # linear algebra
import warnings # ignore warnings mesagges

In [2]:
warnings.filterwarnings("ignore")

In [3]:
df=pd.read_csv("weight-height.csv")

In [4]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [6]:
df.select_dtypes("float64").describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [7]:
df.Gender.unique()

array(['Male', 'Female'], dtype=object)

They show us the general statistical measures. Regardless of the sex of the individual. To have greater accuracy, we could do these same metrics, according to the category of interest in this case, sex.

### **Group By**

In [11]:
df.groupby("Gender").describe()

        Height                                                        \
         count       mean       std        min        25%        50%
Gender
Female  5000.0  63.708774  2.696284  54.263133  61.894441  63.730924
Male    5000.0  69.026346  2.863362  58.406905  67.174679  69.027709

                              Weight                                     \
              75%        max   count        mean        std         min
Gender
Female  65.563565  73.389586  5000.0  135.860093  19.022468   64.700127
Male    70.988744  78.998742  5000.0  187.020621  19.781155  112.902939


               25%         50%         75%         max
Gender
Female  122.934096  136.117583  148.810926  202.237214
Male    173.887767  187.033546  200.357802  269.989699

Perform the same mathematical operations according to gender.

In [25]:
df.groupby("Gender").mean()

           Height      Weight
Gender
Female  63.708774  135.860093
Male    69.026346  187.020621

We can select only the average value for height and weight.

#### **Custom Features**

We can apply more complex functions such as calculating the confidence interval for the upper interval.

In [27]:
def Upperlimit(x):
    
    mean=np.mean(x) 
    std=np.std(x)
    
    return mean+1.5*std

In [31]:
df.groupby("Gender")["Weight"].apply(Upperlimit).reset_index().sort_values("Weight",ascending=False)

   Gender      Weight
1    Male  216.689385
0  Female  164.390941

We calculate the upper range based on gender. We sort the data in descending order.

### **Filter Data**

#### **Method 1**

In [34]:
df[df.Gender=="Male"].head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

We select those cases where the user's gender is male.

In [41]:
df[(df.Gender=="Male") & (df.Weight<216.68)]["Weight"].head().reset_index()

   index      Weight
0      1  162.310473
1      2  212.740856
2      4  206.349801
3      5  152.212156
4      6  183.927889

We select those data where the sex is male and the weight is strictly less than 216 pounds.

#### **Method 2**

We will use another pandas function called query.

In [43]:
df.query("Gender=='Male'").head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [47]:
df.query("Gender=='Male' and Weight<216").head()["Weight"].reset_index()

   index      Weight
0      1  162.310473
1      2  212.740856
2      4  206.349801
3      5  152.212156
4      6  183.927889

We get the same result. Personally, this second method seems better to me. Its syntax is more understandable than the first method.